@{
    ViewBag.Title = "Home";
}

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>Welcome to BookHive Corp!</h1>
    <p>BookHive provides premium collections of Books; everything you need to start reading today.</p>

</header>

<h2>Featured Books</h2>
<ul class="row list-unstyled" id="book-list">
    @foreach (var book in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            <a href="@Url.Action("Details", "Store", new { id = book.BookId })">
                <img alt="@book.Title" src="@Url.Content( @book.BookArtUrl)" />
                <h4>@book.Title</h4>
            </a>
        </li>
    }
</ul>